#main {
    --main-table-min-width: 1280px;
    padding: 16px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/* common */

/* top section*/
.mainTopSection {
    min-width: var(--main-table-min-width);
}
/* .mainTopSection .mainTopInner {
    min-width: var(--main-table-min-width);
} */
.mainTopInner .inputArea {
    display: flex;
}
.mainTopInner .timeDisplayArea {
    margin-top: 10px;
    display: flex;
    /* justify-content: space-between; */
}
.mainTopInner .fixedRecordTimeBox {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.mainTopInner .fixedRecordTimeBox .boxHeader {
    /* padding: 8px; */
    padding: 0 8px;
    /* line-height: 10px; */
    /* line-height: 26px; */
    line-height: 1.6;
    height: 26px;
    font-size: 0.9rem;
    border: 1px solid rgba(0, 0, 255, 0.35);
    background: #99ccff;
    /* border-bottom: unset; */
}
/* .mainTopInner .fixedRecordTimeBox .boxBody {
    display: flex;
} */
.mainTopInner .fixedRecordTimeBox .BodyCell {
    /* padding: 8px; */
    text-align: center;
    /* line-height: 10px; */
    padding: 0 8px;
    /* line-height: 26px; */
    line-height: 1.6;
    height: 26px;
    font-size: 0.9rem;
    min-width: 80px;
    width: calc(100% / 3);
    border: 1px solid rgba(0, 0, 255, 0.35);
    border-top: unset;
}
/* .mainTopInner .fixedRecordTimeBox .boxBody:nth-of-type(1) .cell {
    background: aqua;
} */
.mainTopInner .fixedRecordTimeBox .BodyCell:not(:first-of-type) {
    border-left: unset;
}
.mainTopInner .totalDisplayBox {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    min-width: 300px;
    margin-left: 32px;
}
.mainTopInner .totalDisplayBox .boxHeader {
    /* display: flex;
    justify-content: center; */
    /* padding: 8px; */
    /* line-height: 10px; */
    padding: 0 8px;
    /* line-height: 26px; */
    line-height: 1.6;
    height: 26px;
    font-size: 0.9rem;
    border: 1px solid rgba(0, 0, 255, 0.35);
    background: #99ccff;
}
/* .mainTopInner .totalDisplayBox .boxBody {
    display: flex;
} */
.mainTopInner .totalDisplayBox .BodyCell {
    /* padding: 8px; */
    text-align: center;
    /* line-height: 10px; */
    padding: 0 8px;
    /* line-height: 26px; */
    line-height: 1.6;
    height: 26px;
    font-size: 0.9rem;
    min-width: 80px;
    width: calc(100% / 5);
    border: 1px solid rgba(0, 0, 255, 0.35);
    border-top: unset;
    white-space: nowrap;
}
.mainTopInner .totalDisplayBox .BodyCell:not(:first-of-type) {
    border-left: unset;
}

/* main table section */
#mainTableSection {
    margin-top: 16px;
    min-width: var(--main-table-min-width);
}
#mainTableSection #mainDataTable table {
    table-layout: fixed;
}
.borderTopNone {
    border-top: unset;
}
.borderBottomNone {
    border-bottom: unset;
}
.borderLeftNone {
    border-left: unset;
}
.borderRightNone {
    border-right: unset;
}
.dataTableCellPadding {
    /* padding: 8px; */
    /* border: 0.5px solid blue; */
    padding: 0 8px;
}
.dataTableHeaderCell {
    border-width: 1px 1px 1px 0;
    /* color: rgba(0, 0, 255, 0.6); */
    /* color: blue; */
    /* border-color: blue; */
    border-color: rgba(0, 0, 255, 0.35);
    background: aqua;
    /* transition: box-shadow 0.2s; */
    font-weight: normal;
    /* height: 18px; */
    /* line-height: 12px; */
    /* line-height: 26px; */
    line-height: 1.6;
    height: 26px;
    font-size: 0.9rem;
}
.dataTableHeaderCell:first-of-type {
    border-width: 1px;
}
.dataTableBodyCell {
    border-width: 0px 1px 1px 0px;
    /* border-color: blue; */
    border-color: rgba(0, 0, 255, 0.35);
    font-weight: normal;
    /* height: 18px; */
    /* line-height: 10px; */
    /* line-height: 26px; */
    line-height: 1.6;
    height: 26px;
    font-size: 0.9rem;
    text-align: center;
    position: relative;
}
.dataTableBodyCell:first-of-type {
    border-width: 0px 1px 1px 1px;
}
.dataTableBodyCell.editAvailable:hover {
    cursor: pointer;
    background: aqua;
    /* opacity: 0.5; */
    /* border-color: blue; */
}
.dataTableBodyCellTextEllipsis {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
/* .dataTableBodyCellTextEllipsis:before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 7px;
    border-radius: 10px;
    max-width: 300px;
    width: 250%;
    left: 25%;
    bottom: 120%;
    opacity: 0;
    transition: all 0.5s linear;
}
.dataTableBodyCellTextEllipsis:hover:before {
    opacity: 1;
} */
/* .dataTableBodySaturDay {
    background: #ccffcc;
    color: red;
} */
/* .dataTableBodySunday {
    background: #ccffcc;
    color: red;
} */
.dataTableBodyDisable {
    background: #ccffcc;
    color: red;
}
.dataTableBodyCellBackground {
    background: #99ccff;
}
.dataTableBodyCellMinWidth {
    min-width: 80px;
}
.editInputText {
    padding: unset;
    text-align: right;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    #main {
        padding: 8px;
    }
    .mainTopSection,
    #mainTableSection {
        padding-right: 8px;
    }
}
