#header {
    padding: 8px;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.headerFlexBlock {
    display: flex;
}
.headerChild1Img {
    width: 300px;
}

@media screen and (max-width: 480px) {
    .headerChild1Img {
        width: 50%;
    }
}
